.Label {
  margin: 10px;
  width: 250px;
  display: block;
  position: flex;
  justify-content: space-around;
}

.Input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
}

.Input:not(.b-red, .b-green) {
  outline-color: rgb(0, 100, 255);
  border: solid rgb(0, 100, 255) 1px;
}

.b-red {
  outline-color: red;
  border: solid red 1px;
}

.b-green {
  outline-color: rgb(0, 200, 0);
  border: solid rgb(0, 200, 0) 1px;
}

.wrong {
  color: red;
  font-size: small;
}