/* body {
  border: solid 1px grey;
  display: flex;
  margin: 100px auto;
  width: 450px;
  text-align: center;
} */

/* form {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  margin: 10px;
} */
