.NotAPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #48A46B;
}

.NotAPage h1 {
  color: white;
  font-size: calc(10px + 10vmin);
}

.NotAPage img {
  width: 70%;
  max-width: 500px;
  height: auto;
}

.NotAPage button {
  background: #dbdedd;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  font-family: Arial;
  color: #323232;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

.NotAPage button:hover {
  background: #cfe6df;
}