.table-section {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.table-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
