/* .page {

} */

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  /* border: 2px solid red; */
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;

  /* border: 2px solid blue; */
}
