.page-login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

p {
  color: rgb(248, 248, 248);
  font-size: 24px;
  line-height: 32px;
  margin-top: 16px;
}

.main-content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  text-align: center;
  width: 100%;
}

input {
  background: rgb(248, 248, 248);
  border: 1px solid #a8a8b3;
  border-radius: 8px;
  height: 50px;
  padding: 0 16px;
}

button {
  align-items: center;
  background: #835afd;
  justify-content: center;
  border-radius: 8px;
  color: rgb(248, 248, 248);
  border: 0;
  display: flex;
  cursor: pointer;
  height: 50px;
  font-weight: 500;
  margin-top: 64px;
  padding: 0 32px;
  transition: filter 0.2s;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
