/* .body-login {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 400px;
}

.button-login {
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
} */
