* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  align-items: right;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: line;
  font-size: calc(10px + 2vmin);
  justify-content: space-around;
  min-height: 10vh;
}

form {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-basis: auto;
  flex-direction: line;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  justify-content: space-around;
}

form button {
  background-color: white;
  border-radius: 5px;
  color: #282c34;
  font-size: calc(7px + 1vmin);
  height: 50px;
  text-align: center;
  width: 400px;
}

.table {
  align-items: center;
  background-color: #282c34;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
