.walletHeader {
  color: #f6fafb;
}

.stringDetail {
  color: #d49c6b;
}

.walletBody {
  align-items: center;
  background-color: #5e6668;
  display: flex;
  height: 4vh;
  justify-content: center;
}

.walletForm {
  align-items: flex-start;
  color: #f6fafb;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.walletTable {
  background-color: #f6fafb;
  border: 1px solid #d49c6b;
  color: #5e6668;

}

table , th , td {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
