* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wallet-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.wallet-header img {
  width: 150px;
}

.wallet-header section {
  display: flex;
}

.email-field {
  margin-right: 50px;
}

.total-field {
  margin-right: 5px;
}

main {
  height: 100vh;
}

.expense-form {
  background-color: #272b33;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
}

.expense-form label {
  align-items: center;
  color: white;
  display: flex;
  font-weight: 700;
}

.expense-form input , .expense-form select {
  height: 30px;
  margin: 5px;
  padding: 5px;
}

.expense-form select {
  background-color: white;
}

.add-expense-btn {
  background-color: #4673fc;
  border: 1px solid #4673fc;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  margin: 5px;
  padding: 5px 10px;
}
