* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.main {
  width: 200vh;
  height: 100vh;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.img {
  width: 400px;
  height: 200px;
  margin-bottom: 40px
}

.input {
  width: 400px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.input:nth-child(3) {
  margin-bottom: 30px;
}

.button {
  width: 400px;
  height: 50px;
  text-align: center;
  background-color: #41d39b;
  border-radius: 5px;
}

.button:disabled {
  width: 400px;
  height: 50px;
  text-align: center;
  background-color: #768f85;
  border-radius: 5px;
}