header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  padding: 0 15px;
}

.header-info {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}

.info-item {
  margin-left: 10px;
}
