.login-container {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25%;
}

#email-input {
  margin: 5px;
}

#password-input {
  margin: 5px;
}

#button-container {
  margin: 5px;
  border-radius: 20%;
}
