body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.login-form {
  margin-top: 10rem;
  border: 2px solid grey;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.wallet {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.navInfo {
  display: flex;
  flex-flow: row nowrap;
}

.navInfo div {
  padding-left: 2rem;
}

nav img {
  margin: 5px;
  width: 50px;
  border-radius: 8px;
}
